html {
    font-size: 14px;
}

.page-enter-active, .page-leave-active {
    transition: opacity .5s;
  }
.page-enter, .page-leave-to {
  opacity: 0;
}

.theme--dark.v-data-table, .theme--dark.v-card, .theme--dark.v-list {
  background-color: #424242 !important;
}

.theme--dark .detail {
  color: white !important;
}

.carousel-style {
  height: auto !important;
}

@media screen and (min-width:768px) {
  .carousel-style {
    height: 500px !important;
  }
}

@media screen and (max-width:420px) {
  .v-window__container, .v-responsive__content, .v-window{
    height: 312px !important;
  }
  .hide-col-mobile {
    width: 0px;
    height: 0px;
    padding: 0px;
    margin: 0px;
  }
}

.tag-link {
  text-decoration: none;
  cursor: pointer;
}
.user-tag {
  background-color: #dddddd;
}

div.open-chevron-down-lighthing {
    left: 0!important;
}

@media screen and (max-width: 600px){       
    div.open-chevron-down-lighthing {
        top: 68px!important;
    }
}

// .v-menu__content.theme--light.v-menu__content--fixed.menuable__content__active {
//     left: 0 !important;
// }